body{
    border: 10px groove greenyellow;
    display: block;   
    background-color: bisque;
}
.box1{
    font-style: italic;
    color: white;
    background-color: black;
    padding: 12px 0px 3px 0px;
    display: inline-block;
    border: 5px solid red;
    border-radius: 20px;
    width: 240px;
    height: 50px;
    position: relative;
    top: 5%;
    left: 15%;
}
.box2{
    font-style: italic;
    color: white;
    background-color: black;
    padding: 12px;
    display: inline-block;
    border: 5px solid red;
    border-radius: 15px;
    width: 200px;
    height: 25px;
    position: relative;
    top: 3%;
    left: 25%;
}
.box3{
    font-style: italic;
    color: white;
    background-color: black;
    padding: 12px;
    display: inline-block;
    border: 5px solid red;
    border-radius: 25px;
    width: 200px;
    height: 60px;
    position: relative;
    top: 8%;
    left: 40%;
}
.box4{
    font-style: italic;
    color: black;
    background-color: rgb(32, 214, 214);
    padding: 12px;
    display: inline;
    border: 5px solid gray;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    position: absolute;
    top: 400px;
    left: 275px;
    line-height: 38px;
}
.box5{
    font-style: oblique;
    color: tomato;
    background-color: whitesmoke;
    padding: 20px 5px;
    display: inline;
    border: 6px dashed red;
    width: 240px;
    height: auto;
    position: absolute;
    top: 176px;
    left: 920px;
}
.box6{
    color: white;
    background-color: black;
    border: 5px solid red;
    border-radius: 25px;
    padding: 10px 50px;
    display: inline;
    width: 250px;
    height: 20px;
    position: absolute;
    top: 850px;
    left: 550px;
    align:center:
}
.flex-container1{
    background-color: mediumturquoise;
    padding: 10px;
    border: 4px solid green;
    flex-flow: column wrap;
    border-radius: 32px;
    width: 240px;
    height: auto;
    position: relative;
    top: 850px;
    left: 150px;
}
.flex-container2{
    background-color: mediumturquoise;
    padding: 10px;
    border: 4px solid green;
    flex-flow: column wrap;
    border-radius: 32px;
    width: 240px;
    height: auto;
    position: relative;
    top: 600px;
    left: 600px;
}
.flex-container3{
    background-color: mediumturquoise;
    padding: 10px;
    border: 4px solid green;
    flex-flow: column wrap;
    border-radius: 32px;
    width: 240px;
    height: auto;
    position: relative;
    top: 340px;
    left: 1100px;
}
.flex-container4{
    background-color: mediumturquoise;
    padding: 10px;
    border: 4px solid green;
    flex-flow: column wrap;
    border-radius: 32px;
    width: 240px;
    height: auto;
    position: relative;
    top: 400px;
    left: 150px;
}
.flex-container5{
    background-color: mediumturquoise;
    padding: 10px;
    border: 4px solid green;
    flex-flow: column wrap;
    border-radius: 32px;
    width: 240px;
    height: auto;
    position: relative;
    top: 140px;
    left: 600px;
}
.flex-container6{
    background-color: mediumturquoise;
    padding: 10px;
    border: 4px solid green;
    flex-flow: column wrap;
    border-radius: 32px;
    width: 240px;
    height: auto;
    position: relative;
    top: -120px;
    left: 1100px;
}
h2{
    color: indigo;
}
.flex-item{
    color: indigo;
}
hr{
    width: 240px;
}